# Binaries for programs and plugins
*.exe
*.exe~
!winpty-agent.exe
*.dll
!winpty.dll
*.so
*.dylib
*.log
.idea
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
pty
pty.exe
mcsm.ico
pty.rc
pty.syso
# Dependency directories (remove the comment below to include it)
# vendor/
cache/
*.jar

server/
tmp/
main
